body {
  background-color: #c5c5c5;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center
}

h3, p {
  margin: 0.3rem;
}

canvas {
  border: 1px solid grey;
}

label {
  margin-left: 1rem;
  margin-right: 0.2rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="text"] {
  width: 100px;
  text-align: center;
}

input[type="submit"] {
  margin-left: 1rem
}
